/* body {
  background: #000 !important;
  color: rgb(104, 81, 81) !important;
}  */
/* Delete body later this is just for do not disturb your roommates */
table {
  font-size: 3em;
  color: #333;
  border:3px solid #666;
  width: 800px;
  height: 800px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    0px 0px 10px 2px rgba(50, 50, 50, 0.4);
  box-shadow:         0px 0px 10px 2px rgba(50, 50, 50, 0.4);  
}

.leftMenu {
  border:3px solid #666;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    0px 0px 10px 2px rgba(50, 50, 50, 0.4);
  box-shadow:         0px 0px 10px 2px rgba(50, 50, 50, 0.4);  
}

td {  
  height:20px;
  width:20px;
  text-align:center;
  border: solid 1px;
}

td:hover {
  background: #333;
}
